[parameters]
Process to analyse: {{ process }}

Read rho    = True
Subduce     = False  
Contract    = False  
Create Gevp = False
Plot data   = False

[gauge configuration numbers]
First configuration = {{ conf_start }}
Last configuration =  {{ conf_end }}
Configuration Stepping = {{ conf_step }}
# expects ,-seperated integer(s)
Missing configurations = {{ conf_skip|join(', ') }}

[ensemble and frame]
Ensemble Name = {{ ensemble }}
T = 48
# expects ,-seperated integer(s)
p_cm^2          = 0,1,2,3,4
p_cutoff        = 4
# expects ,-seperated strings. default to build everything
irreps          = default

[gevp parameters]
Operators J0 = gamma_5; gamma_0
Operators J1 = gamma_i; gamma_50i

[contraction details]
# diagram to be analysed, may also be ,-seperated list
Diagram = C20, C3c, C4cB, C4cD
# path to contraction files. Either one path or a ,-seperated list of the same 
# lenght as diagram
Input Path = {{ datapath }}

[Environment details]
Path to one-meson subduction coefficients = {{ codepath }}/one-meson-operators/
Path to two-meson subduction coefficients = {{ codepath }}/two-meson-operators/
Output Path = {{ outpath }} 

[plot details]
Plot experimental = False

Plot average = False
Plot p_cm and row = True
Plot correlators = False

Logscale = True

Number of bootstrap samples = 20
