#!/bin/bash
#SBATCH -J {{ jobname }}
#SBATCH --time=3-00:00:00
#SBATCH --nodes=1
#SBATCH --mem={{ memory }}GB
#SBATCH --cpus-per-task=4
{% if email_address != '' %}
#SBATCH --mail-user={{ email_address }}
#SBATCH --mail-type=FAIL
{% endif %}
#SBATCH --output={{ rundir }}/{{ jobname }}.out
#SBATCH --error={{ rundir }}/{{ jobname }}.err

set -e
set -u

cd {{ rundir }}

date

python {{ executable }} {{ infile }} -p {{ momentum }} -d {{ diagram }} -v

date
