# redundant python files
*.pyc
# plots
*.pdf
# data files
*.dat
*.npy
*.out
3pt/test

# untracked files
3pt_non_hermitian/
analyse_lattice2015/
analyse_may/plots/
gevp/
pion_mass/
../3pt/clebsch_gordan_2pt_-0+.py
../3pt/clebsch_gordan_2pt_circ-hel.py
clebsch_gordan_nozweig.py
