# redundant python files
*.pyc
# plots
*.pdf
*.png
# data files
*.dat
*.npy
*.out
*.h5
3pt/test
# swap files
*.swp

# untracked files
3pt_non_hermitian/
analyse_lattice2015/
analyse_may/plots/
gevp/
pion_mass/
3pt/clebsch_gordan_2pt_-0+.py
3pt/clebsch_gordan_2pt_circ-hel.py
4pt/clebsch_gordan_nozweig.py
3pt/clebsch_gordan_4pt_nozweig.py
4pt/clebsch_gordan_+1.py
4pt/clebsch_gordan_-1.py
2016_08_10-readdata/
2016_09_26-readdata/
calc_cg_coefficients.py
clebsch_gordan_2pt_numpy.py
clebsch_gordan_4pt_numpy.py
test_read.py
build

groups
